<h1>All Users</h1>

<div class= 'ui huge middle aligned selection divided list'>
  <% @user.each do |user| %>
    <div class="item">
      <%= link_to user.username, users_path(user) %>
      <%= button_to "Return to Products Page", products_path, method: :get %><br>
    </div>
  <% end %>
</div>