<h1>Create a User</h1>

<%= form_for @user, html: {class: 'ui form'} do |f| %>
  <div class="field">
    <%= f.text_field(:username, placeholder: 'Enter your username...') %>
  </div>
  <div class="field">
    <%= f.text_field :zip_code, placeholder: 'Enter your Zip Code...' %>
  </div>
  <%= f.submit({class: 'ui huge pink button'}) %>
<% end %>